.container {
    width: 100%;
    height: 70px;
    display: inline-block;    
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
.container div {
    display: flex;
    align-items: center;
    gap: 16px;
}
.container h2 {
    color: white;
    font-size: 2rem;
    user-select: none;
}
.container span {
    color: darkblue;
    user-select: none;
    /*  darkblue; */
}
.active {
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color:  darkblue;
    border-radius: 10px;
    background-color: #ea7c6936;
    animation: changeColor 0.2s ease;
    transition: all 0.5s ease;
}

.inactive {
    width: 100px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.inactive:hover {
    background-color: #ffffff36;
}

@keyframes changeColor {
    from {
        color: white;
    }
    to {
        color:  darkblue;
    }
}
